<!DOCTYPE html>
<html lang="en">
<head>
    <title>Request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <!-- -->
    <div id="header">
        <!--<img border="0" src="http://upload.wikimedia.org/wikipedia/en/thumb/2/21/Arizona_State_Sun_Devils_trident_logo.png/300px-Arizona_State_Sun_Devils_trident_logo.png" alt="asu" width="50" height="100" align="LEFT">-->
        <h1>Tutoring</h1>
    </div>
    <!-- -->
    <div id="body"> </div>
    <!-- -->
    <div id="footer">
        <h1>Tempe Campus</h1>
    </div>

    <!-- -->
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="request.js"></script>
    <script type="text/javascript" src="list.js"></script>
    <script>
    $(function () { 
        $('#body').request({
            list: data,
        });
    });
    </script>
</body>
</html>
