<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add New Class</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src = "validate_form.js"></script>
</head>
<body>
    <!-- -->
    <div id="header">
        <!--<img border="0" src="http://upload.wikimedia.org/wikipedia/en/thumb/2/21/Arizona_State_Sun_Devils_trident_logo.png/300px-Arizona_State_Sun_Devils_trident_logo.png" alt="asu" width="50" height="100" align="LEFT">-->
        <h1>Tutoring</h1>
    </div>
    <!-- -->
    <div id="body"> 


    <form name="new_class" action="preview.html" onsubmit="return validateForm()" method="post">
        <label>Subject:
        <span class="small">e.g. Math</span>
        </label>
        <input type="text" name="subject" id="subject" />
        <label>Class:
        <span class="small">e.g. MAT 343</span>
        </label>
        <input type="text" name="class" id="class" />
        <button type="submit">ADD</button>
        <div class="spacer"></div>
    </form>


    </div>
    <!-- -->
    <div id="footer">
        <h1>Tempe Campus</h1>
    </div>
</body>
</html>