<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <style>
        body { background: maroon; }
    </style>
</head>
<body>
    <div class="slim-panel">
        <div class="message"><%= message %></div>
        <form class="login" method="post" action="/">
            <table class="wide-table">
                <tr>
                    <th>Password:</th>
                    <td><input placeholder="password" type="password" name="password" /></td>
                </tr>
                <tr>
                    <th>Table #:</th>
                    <td>
                    <select name="table">
                        <option value="" selected="selected"></option>
                        <% for (var i in available) { %>
                        <option value="<%= available[i] %>" ><%= available[i] %></option>
                        <% } %>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Register"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
