<!DOCTYPE html>
<html lang="en">
<head>
    <title>Request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/queue.css">
</head>
<body>
    <div id="header">
        <h1>Question Queue</h1>
    </div> 

    <!-- -->
    <div id="body"></div>

    <!--
    <div id="footer">
        <h1>Tempe Campus</h1>
    </div>
    -->

    <script id="queue_item" type="text/template">
        <div id="queue-inner">
            <ul id="queue">
            <% _.each(items, function (item) { %>
                <li class="question">
                    <div><%= courses.get(item.course_id).get('number') %></div>
                    <div class="title"><%= courses.get(item.course_id).get('title') %></div>
                    <div><%= courses.get(item.course_id).get('number') %></div>
                </li>
            <% }); %>
            </ul>
        </div>
    </script>

    <!-- -->
    <script data-main="javascripts/queue.js" src="lib/require.js" > </script>

</body>
</html>
