<!DOCTYPE html>
<html lang="en">
<head>
    <title>Request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <!-- -->
    <div id="header">
        <h1>Tutoring</h1>
    </div>
    <!-- -->
    <div id="body"> </div>
    <!-- -->
    <div id="footer">
        <h1>Tempe Campus</h1>
    </div>

    <script id="main_menu" type="text/template">
        <% _.each(subjects, function (subject) { %>
            <div class="subject" data-id="<%= subject.get('_id') %>">
                <h2><%= subject.get('title') %></h2></div>
        <% }); %>
    </script>

    <script id="sub_menu" type="text/template">
        <ul class="classes" >
            <li class="back" >Go Back</li> 
            <% _.each(courses, function (course) { %>
            <li class="ask" data-id="<%= course.get('_id') %>" ><%= course.get('title') %></li> 
            <% }); %>
        </ul>
    </script>

    <!-- -->
    <script data-main="javascripts/request.js" src="lib/require.js" > </script>

</body>
</html>
