<!DOCTYPE html>
<html lang="en">
<head>
    <title>Request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/request.css">
    <script src="//localhost:35729/livereload.js"></script>
</head>
<body>
    <div id="body"></div>
    <!-- -->
    <script data-main="javascripts/request.js" src="javascripts/lib/require.js"></script>
</body>
</html>
