<!DOCTYPE html>
<html lang="en">
<head>
    <title>Request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/request.css">
</head>
<body>
    <!--
    <div id="header">
        <h1>Tutoring</h1>
    </div> 
    -->

    <!-- -->
    <div id="body"></div>

    <!--
    <div id="footer">
        <h1>Tempe Campus</h1>
    </div>
    -->

    <script id="main_menu" type="text/template">
        <div id="menus-inner">
            <% _.each(subjects, function (subject) { %>
                <div class="subject" data-id="<%= subject.get('_id') %>">
                    <h2><%= subject.get('title') %></h2>
                </div>
            <% }); %>
        </div>
    </script>

    <script id="sub_menu" type="text/template">
        <ul class="classes" >
            <li class="back" >Go Back</li> 
            <% _.each(courses, function (course) { %>
            <li class="ask" data-id="<%= course.get('_id') %>" >
                <span class="label"><%= course.get('label') %>: </span>
                <span class="title"><%= course.get('title') %></span>
            </li> 
            <% }); %>
            <li>______</li> 
        </ul>
    </script>

    <script id="sidebar" type="text/template">
        <div class="inner">
            <div id="date-time">
                <h1>Wednesday</h1>
                <h2>July 17, 2013</h2>
                <h3>11:02 AM<h3>
            </div>
            <div>
                <h2>Current Questsion<h2>
                <p>(2 maximum)</p>
            </div>
            <ul id="questions" >
                <% _.each(questions, function (question) { %>
                <li class="question" data-id="<%= question.get('_id') %>" >
                    <div>
                        <span class="label"><%= question.get('label') %></span>
                        <button data-id="<%= question.get('_id') %>">Cancel</button>
                    </div>
                </li> 
                <% }); %>
            </ul>
        </div>
    </script>

    <!-- -->
    <script data-main="javascripts/request.js" src="lib/require.js" > </script>

</body>
</html>
