<!DOCTYPE HTML>
<html>
<head>
<title>Statistics.t</title>
<link rel="stylesheet" href="stylesheets/statistics.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/bar.css">
<meta charset="UTF-8">
<!--
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="graphs/barChart.js"></script>
<script src="graphs/data.js"></script> 

    <div class="graphs">
        
        <div id="sort_space"><label><input type="checkbox"> Sort values</label>
        </div>

    </div>
   $('').appendTo($('<div class="sort_space">').appendTo(this.$el));
-->
<script data-main="javascripts/statistics.js" src="lib/require.js" > </script>

</head>

<body>
     <div class="header">
        <div id="statistics_text">
        Statistics
        </div>
        <div id="dinamic_text">
        Fall 2013 - Week 3 - Monday
        </div>
        <label><input type="checkbox"> Sort values</label>
    </div>
 
 <!--   
    <div id="table">
        <div id="t_backG">
        </div>
    </div>
-->
</body>

</html>
