/** { font-size: 24px; }*/
* { margin: 0; padding: 0; }

#body {
    position: absolute;
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: 10%;
    text-align: center;
    color: #fff;
    background: maroon;
    display: table;
}

#header h1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 300%;
}

#header small {
    font-size: 50%;
}

#queue-inner {
    width: 100%;
    height: 90%;
}

#queue {
    width: 33.32%;
    display: block;
    vertical-align: text-top; 
    height: 100%;
    float: left;
}

.question {
    width: 100%;
    height: 20%;
    display: table;
}

.question-inner {
    display: table-cell;
    vertical-align: middle;
}

.question-inner > div {
    float: left;
}

.question .number {
    width: 10%;
}

.question .group {
    background: #fff;
    width: 75%;
    position: relative;
    padding-left: 5%;
    box-shadow: 0 0 2px 1px #666;
}

.question .color {
    position: absolute;
    left: 0;
    width: 5%;
    height: 100%;
}

.question .number,
.question .label
{
    font-size: 400%;
    text-align: center;
}

.question .label {
    color: maroon;
}

.question .title {
    text-align: center;
    padding-bottom: 12px;
}

.question .table {
    width: 10%;
}
