html, body {
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}

h1, h2, h3 { font-family: serif; }

h1 { font-size: 34px; }
h2 { font-size: 20px; }

#body {
    margin: 0 auto;
    padding: 0px;
    background-color: maroon;
    height: 100%; 
}

#side, #menus {
    position: relative;
    float: left;
    height: 100%;
}

#side {
    width: 33.33%;
    color: #ffffff;
    text-align: center;
}

.inner {
    padding: 10px;
}

#date-time {
    text-align: right;
    display: inline-block;
    margin: 10px;
}

#help {
    color: white;
    background: maroon;
    width: 50px;
    height: 50px;
    bottom: 0px;
    left: 10px;
    cursor: pointer;
    position: absolute;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
}

#help-text {
    background: maroon;
    width: 400px;
    position: absolute;
    left: 0;
    top: 50px;
    font-size: 12pt;
    font-weight: normal;
    padding: 20px;
    text-align: left;
    font-family: sans;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px 5px -5px black; 
}

#help-text * {
    margin: 5px;
}

#help-text ol li {
    list-style: decimal;
    margin-left: 25px;
}

#menus {
    width: 66.66%;
    background-color: #ffffff;
    overflow-y: scroll;
    box-shadow: -5px 0px 15px rgba(0,0,0,0.5);
}

#menus h1 {
    text-align: center;
    padding: 20px;
    color: maroon;
    border-bottom: 2px maroon solid;
    position: fixed;
    left: 33.33%;
    right: 0;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 5px 5px -5px black;
}

#questions {
    color: maroon;
    margin: 20px -10px;
}

#questions button {
    border-radius: 5px;
    border: 0;
    color: #ffffff;
    background-color: maroon;
    padding: 5px 10px;
    font-size: 14pt;
}

.question {
    background-color: #ffffff;
    margin: 10px 0;
}

.question div {
    display: inline-block;
    padding: 10px;
    width: 100%;
}

.question div span {
    padding: 0 10px;
    white-space: nowrap;
    font-size: 12pt;
}

#menus-inner {
    padding: 10px;
    width: 600px;
    margin: 20px auto;
    padding-right: -20px;
    margin-top: 100px;
}

.subject {
    float: left;
    display: table;
    height:150px;
    width: 45%;
    margin:0px;
    margin-bottom: 25px;
    margin-left: 25px;
}

#subject-active {
    background-color:maroon;
    color: #ffffff;
    box-shadow: inset 1px 1px 10px #000000;
}

.subject h2 {
    border: 1px solid #aaa;
    margin: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    color: maroon;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    cursor: pointer;
}

.classes {
    margin: 20px auto;
    border-radius: 10px;
    //box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
}

.classes li {
    color: maroon;
    padding: 10px;
    font-size: 18pt;
    border: 1px solid maroon;
    border-top: 0;
    cursor: pointer;
}

.classes li:first-child {
    text-align: center;
    background: maroon;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0px;
}

.classes li:last-child {
    text-align: center;
    background: maroon;
    color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0px;
}

.recent { 
    padding: 5px 10px; 
    background: #ffffff;
    color: rgb(136, 1, 34); 
    margin: 5px 25px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.fixed-bottom { 
    text-align: left;
    margin-left: 2.5%;
    width: 95%; 
    position: absolute; 
    bottom: 10px;
}
