@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar { 
    display: none; 
}
body {
  background: rgb(255,255,255); 
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}
#body {
    width: 100%;
    margin: 0 auto;
}
#clear {
    clear: both;
}
#footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(136, 1, 34);
    border-top: solid rgb(98,1,10) 2px;
}
li {
    list-style: none; 
}

.wide-table {
    width: 100%;
}

.wide-table td {
    padding: 10px;
}

.panel {
  margin: 10px auto;
  background: white;
  padding: 40px 0;
}

.slim {
  max-width: 400px;
}

.center {
  margin: 0 auto;
}

.upcase {
  text-transform: uppercase;
}

.modal {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.6);
  display: table;
  width: 100%;
  height: 100%;
}

.modal-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* animations */

@-webkit-keyframes slidedown {
  from {
    top: -960px;
  }
  to {
    top: 0;
  }
}

.slidedown {
  position: relative;
  -webkit-animation: slidedown 0.3s;
}

/* inputs */
.input,
.select,
.btn {
  outline: 0;
  border: 1px solid maroon;
  color: maroon;
  background: white;   
  border-radius: 3px;
  padding: 5px 8px;
  font-size: 100%;
}

.block {
  width: 100%;
  display: block;
}


.btn-red {
}

.btn-red:hover {
  color: white;
  background: maroon;   
}

.text-red {
  color: maroon;
}
