<div class="modal">
<div class="modal-inner">
<div class="slidedown panel">

  <div class="slim center">

    <div class="upcase" id="message"><%= message %></div>

    <div class="login">
      <table class="wide-table">
        <tr>
          <th>Passcode:</th>
          <td><input class="input block" placeholder="Passcode..." type="password" id="passcode" /></td>
        </tr>
        <tr>
          <th>Location:</th>
          <td>
          <select class="select block" id="location">
            <% for (var i = 0; i < locations.length; i++) { %>
            <option value="<%= locations[i]._id %>">
              <%= locations[i].title %>
            </option>
            <% } %>
          </select>
          </td>
        </tr>
        <tr>
          <th>Table:</th>
          <td>
          <select class="select block" id="table">
            <% for (var i in available) { %>
            <option value="<%= available[i] %>" ><%= available[i] %></option>
            <% } %>
          </select>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btn btn-red block register" >Register</button>
          </td>
        </tr>
      </table>
    </div>

  </div>

</div>
</div>
</div>
