<div id="header">
  <h1>Question Queue <small>(<%= questions.length %> total)</small></h1>
</div> 

<div class="questions">
  <% for (var col = 0; col < 3; col++) { %>

    <div class="column">
    <% for (var i = 5*col; i < questions.length && i < 5*(col+1); i++) { %>

      <!-- queue tab -->
      <div class="tab">
      <div class="tab-inner">

        <div class="order"
             style="background: <%= questions[i].color || 'maroon' %>;" >
          <div class="number"><%= i + 1  %></div>
          <div class="label">ORDER</div>
        </div>

        <div class="class-info">
          <div class="prefix"><%= questions[i].label %></div>
          <div class="title"><%= questions[i].title %></div>
        </div>

        <div class="table">
          <div class="number"><%= questions[i].table %></div>
          <div class="label">TABLE</div>
        </div>

      </div>
      </div>

    <% } %>
    </div>

  <% } %>
</div>
