<h1>
  <a href="#">Statistics</a>
  <div id='breadcrumbs'>
    <ol>
    <% if (!!path[0]) { %>
      <li><a href="#<%= path[0] %>" ><%= path[0] %></a></li> 
      <% if (!!path[1]) { %>
        <li><a href="#<%=path[0]%>/<%=path[1]%>"><%= path[1] %></a></li>
        <% if (!!path[2]) { %>
        <% } %>
      <% } %>
    <% } %>
    <ol>
  </div>
  <a href="<%=data.download()%>" download="data.tsv" id="dl">Download</a>
</h1>

<canvas id="line-chart" width="1080" height="350"></canvas>

<div>

  <div id="popular">
    <h2>Trending</h2>
    <ol>
      <% _.each(data.top(), function (obj) { %>
      <li><span class="label"><%= obj.label %>:</span> <%= obj.title %><span class="number"><%= obj.count %></span></li>
      <% }); %>
    </ol>
  </div>

  <div id="metrics">
    <h2>Metrics</h2>
    <dl>
      <dt>Average Time:<dt>
      <dd><%= data.getAvgTime() %> S/Q</dd>
      <dt>Total Questions:<dt>
      <dd><%= data.getTotal() %></dd>
    </dl>
  </div>

</div>

<table class="stats-table">
  <tr>
    <th></th>
    <% _.each(subjects, function (subject) { %> 
    <th><%= subject.get('prefix') %></th>
    <% }); %>
  </tr>
  <% _.each (data.models, function (row) { %> 
  <tr onclick="document.location = '#/<%= current %><%= row.get('label') %>';" >
    <th><%= row.get('formatted') %></th>
    <% _.each(row.get('subjects'), function (input) { %> 
    <td><%= input %></td>
    <% }); %>
  </tr>
  <% });%>
</table>
