#header {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(136, 1, 34);
    border-bottom: solid rgb(98,1,10) 2px;
}
#queue {
    width: 800px;
    margin: 20px auto;
}

.question {

    color: rgb(255, 255, 255);
    background: rgb(136, 1, 34);
    font-size: 20pt;
    border-radius: 10px;
}
