* { margin: 0; padding: 0; }
::-webkit-scrollbar { 
    display: none; 
}
body {
    background: rgb(255,255,255); 
}
#body {
    width: 100%;
    margin: 0 auto;
}
#clear {
    clear: both;
}
#footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(136, 1, 34);
    border-top: solid rgb(98,1,10) 2px;
}
/*
.subject {
    height:200px;
    width: 400px;
    text-align: center;
    margin: 10px;
    float: left;
    display: table;
}
*/
li {
    list-style: none; 
}
/*
.subject h2 {
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
    background: rgb(255, 203, 102);
    color: rgb(136,1,34);
}
*/
/*
.subject h2:hover {
    background: rgb(136,1,34);
    color: #FFFFFF;
}
*/

/*
.classes li {
    background: rgb(255, 203, 102);
    color: rgb(136,1,34);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.classes li:first-child {
    text-align: center;
    background: rgb(98, 1, 10);
    color: #FFFFFF;
}
.classes li:hover {
    background: rgb(136,1,34);
    color: #FFFFFF;
}
*/
/*-----------ISMAEL---------*/
.label {
    font-weight: bold;
    text-align: left; 
}


#body label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
}
#body .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}
#body input{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 2pxrgb(98,1,10);
    width:200px;
    margin:2px 0 20px 10px;
}

/*
#body button{
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    background:rgb(255, 203, 102);
    text-align:center;
    line-height:31px;
    color:rgb(136,1,34);
    font-size:11px;
    font-weight:bold;
}
#body button:hover {
    background: rgb(136,1,34);
    color: #FFFFFF;
}
*/

