<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <!-- -->
    <div id="header">
        <h1>Administration</h1>
    </div>
    <!-- -->
    <div id="body"> </div>
    <!-- -->
    <div id="footer">
        <h1>Tempe Campus</h1>
    </div>

    <!-- -->
    <script type="text/javascript" src="/lib/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/lib/backbone-min.js"></script>
    <script type="text/template" id="sub_temp" >
        <table>
            <tr><th>Title</th><th>Prefix</th></tr>
            <% _.each(subjects, function (subject) { %>
                <tr><td><%= subject.get('title') %></td><td><%= subject.get('prefix') %></td></tr>
            <% }); %>
        </table>
    </script> 
    <script type="text/javascript">

        var Subject = Backbone.Model.extend({ 
            initialize: function(){ 
            }
        });

        var Subjects = Backbone.Collection.extend({
            url: '/subjects',
            model: Subject
        });

        var SubjectView = Backbone.View.extend({
            initialize: function () {
                this.render();
            },
            render: function () {
                var template = _.template($('#sub_temp').html(), 
                    { subjects: this.collection.models }); 
                this.$el.html(template);
            }
        });

        var subjs = new Subjects();

        subjs.fetch({
            success: function () {
                var sub_view = new SubjectView({ el: $('#body'), collection: subjs });
            }
        });
        //console.log(subjs);


    </script>
</body>
</html>
